#caption
{
    display:block; 
    position: relative; 
    left: 20%; 
    top: 20%; 
    width: 60%; 
    height: 10%; 
    font-size:30px;
}

#icon
{
    display:inline-block; 
    position: relative; 
    left: 42%; 
    top: 35%; 
    width: 16%; 
    height: 16%;
}
