#caption
{
    display:block; 
    position: relative; 
    left: 5%; 
    top: 10%; 
    width: 90%; 
    height: 10%; 
    font-size:20px;
}

#icon
{
    display:block; 
    position: relative; 
    left: 42%; 
    top: 35%; 
    width: 16%; 
    height: 16%;
}
