#caption
{
    display:block; 
    position: relative; 
    left: 0%; 
    top: 20%; 
    width: 100%; 
    height: 10%; 
    font-size:25px;
}

#icon
{
    display:block; 
    position: relative; 
    left: 35%; 
    top: 35%; 
    width: 30%; 
    height: 30%;
}
